[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "==1.9.2"
gunicorn = "*"
whitenoise = "*"
pipenv = "*"
dj-database-url = "*"
dj-email-url = "*"
decorator = "*"
django-heroku = "*"
environs = "*"

[dev-packages]

[requires]
python_version = "3.9"
